<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common" th:object="${requestModel}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

    <table class="table-cols mb30">
        <tr class="add-top-line">
            <th width="120">모델명</th>
            <td>
                <input type="text" name="name" th:field="*{name}">
                <div class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>대분류</th>
            <td>
                <input type="text" name="category" th:field="*{category}">
                <div class="error" th:each="err : ${#fields.errors('category')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>하위분류</th>
            <td>
                <input type="text" name="subCategory" th:field="*{subCategory}">
            </td>
        </tr>
        <tr>
            <th>모델상태</th>
            <td>
                <span>
                    <input type="radio" name="modelStatus" id="model-status-ready" value="READY" th:field="*{modelStatus}">
                    <label for="model-status-ready">준비중</label>
                </span>

                <span>
                    <input type="radio" name="modelStatus" id="model-status-active" value="ACTIVE" th:field="*{modelStatus}">
                    <label for="model-status-active">사용중</label>
                </span>
            </td>
        </tr>
        <tr>
            <th>챗봇모델</th>
            <td>
                <select name="chatbotModel" th:field="*{chatbotModel}">
                    <option th:each="item : ${chatbotModels}" th:value="${item.name()}" th:text="${item.title}"></option>
                </select>
            </td>
        </tr>
    </table>

    <h2>모델 이미지</h2>
    <table class="table-cols mb30">
        <tr class="add-top-line">
            <th width="120">메인 이미지</th>
            <td>
                <div class="main-image">
                    <div th:unless="*{mainImage != null}">
                        <button type="button" th:text="#{이미지_선택}" class="file-upload-btn submit-btn sbtn" th:data-gid="*{gid}" data-location='main' data-single="true" data-image-only="true"></button>
                    </div>
                    <div th:if="*{mainImage != null}" class="file-images" th:id="*{'file-' + mainImage.seq}">
                        <img th:src="@{/file/thumb?seq={seq}&width=250&height=250&crop=true(seq=*{mainImage.seq})}" class="image show-image" th:data-seq="*{mainImage.seq}">
                        <button type="button" class="remove" th:data-seq="*{mainImage.seq}">삭제</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <h2>모델 상세설명</h2>
    <table class="table-cols mb30">
        <tr class="add-top-line">
            <th width="120">모델 설명</th>
            <td>
                <textarea id="description" name="description" th:field="*{description}"></textarea>
            </td>
        </tr>
    </table>
    <script th:replace="~{common/_file_tpl::image_tpl}"></script>
</th:block>
</html>