<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<head>
    <title>모델 목록</title>
</head>
<body>
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="ListSearch" method="get" th:action="@{/admin/model}" th:object="${search}">
        <table>
            <tr>
                <th>검색어</th>
                <td>
                    <div>
                        <select th:field="*{searchType}">
                            <option value="ALL">전체</option>
                            <option value="GENRE">장르별</option>
                            <option value="COUNT">조회수별</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit">검색</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>이름</th>
            <th>카테고리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}">모델 이름</td>
            <td th:text="${item.category}">카테고리</td>
        </tr>
        </tbody>
    </table>
    <form name="createForm" method="post" th:action="@{/model/create}">
        <table>
            <tr>
                <th>장르별</th>
                <td><button type="submit">장르별 모델</button> </td>
            </tr>
            <tr>
                <th>감정별</th>
                <td><button type="submit">감정별 모델</button> </td>
            </tr>
            <tr>
                <th>베스트 모델</th>
                <td><button type="submit">베스트 모델</button> </td>
            </tr>
        </table>
    </form>
</section>
</body>
</html>