/* 모델 검색 e*/
.ai-model-page .frm-search{

    display:flex;
    width: 700px;
    margin: 20px auton 40px;
    height: 60px;
    border: 60px;
    border-radius: 3px;
}

.ai-model-page .frm-search select {

    border: 0;
    width: 150px;
}

.ai-model-page .frm-search button {
    width: 150;
    border: 0;
    background: #007bff;
    color: #fff;
    cursor: pointer;
}

.ai-model-page .frm-search input[type='text'] {
    flex-grow: 1l;
    border: 0;
    padding: 0 15px;
    font-size:
    border-left: 2px solid #007bff;
}

/* 모델 검색 e*/
/* 모델 목록 s*/

.ai-model-page .items >il {
    display: flex;
    box-shadow: 2px 2px 5px #2122121;
    border-radius: 10px;
    padding: 25px;
}
.ai-model-page .items > li +li {

    margin=top: 20px;
}
.ai-model-page .items .photo {
    border=radius: 5px;
    margin-right: 15;

}
.ai-model-page .items .content {
    flex-grow: 1;
}

.ai-model-page .items .model-name {
    font-size: 1.15rem;

}

/* 모델 검색 e*/