<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="~{admin/outlines/_header::common}"></header>
        <main>
            <aside th:replace="~{admin/outlines/_side::menus}"></aside>
            <section class="main-content">
                <nav th:replace="~{admin/outlines/_submenu::menus}"></nav>
                <section layout:fragment="content"></section>
            </section>
        </main>
        <footer th:replace="~{admin/outlines/_footer::common}">

        </footer>
    </body>
</html>