<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="base_url" th:content="@{/}">
        <meta name="csrf_token" th:content="${_csrf.token}">
        <meta name="csrf_header" th:content="${_csrf.headerName}">

        <!-- common.css 받기위한 링크 기본 연결(css 미구현, addCommonCSS는 선언만 했음, 쓰는곳 없음) -->
        <link rel="stylesheet" th:href="@{/common/css/common.css}">
        <th:block layout:fragment="addCommonCss" />


        <script th:src="@{common/js/common.js?v={v}(v=${@utils.version()})}"></script>
    </head>
    <body>
        <header th:replace="~{front/outlines/_header::common}"></header>
        <main layout:fragment="content"></main>
        <footer th:replace="~{front/outlines/_footer::common}"></footer>
    </body>
</html>