<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/index}">

<head>
    <title>전체 게시판 목록</title>
    <th:block layout:fragment="addCss">
        <link rel="stylesheet" th:href="@{/front/css/style.css}" />
    </th:block>
</head>

<body>
<main layout:fragment="content">
    <h2 class="board-all-title">전체 게시판 목록</h2>

    <div class="board-list-container">
        <ul class="board-list">
            <li th:each="board : ${boards}" class="board-card">
                <a th:href="@{|/board/list/${board.bid}|}" class="board-link">
                    <div class="card-title" th:text="${board.name}">게시판 이름</div>
                </a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>
