<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <div class="site-header">
        <div class="right">
            <div class="user-actions">
                <th:block th:if="${isLogin}">
                    <th:block th:if="${loggedMember.profileImage != null}" th:utext="${@utils.printThumb(loggedMember.profileImage.seq, 60, 60, 'profile-image')}"></th:block>
                    <a th:href="@{/mypage}" th:text="${#messages.msg('LOGIN_MSG', loggedMember.name, loggedMember.email)}"></a>
                    <a th:href="@{/mypage}" th:text="#{마이페이지}"></a>
                    <a th:href="@{/logout}" th:text="#{로그아웃}"></a>
                    <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/admin}" th:text="#{사이트_관리}"></a>
                </th:block>
                <th:block th:unless="${isLogin}">
                    <a th:href="@{/member/join}" th:text="#{회원가입}" class="btn"></a>
                    <button type="button" th:text="#{로그인}" class="btn modal-open" data-width="350" data-height="350" data-url="/member/login" th:data-title="#{로그인}"></button>
                </th:block>
            </div>
        </div>
    </div>
</header>
</html>