#description {
    height: 350px;
}

.no-data {
    text-align: center;
    color: #888;
    font-size: 16px;
    padding: 40px 0;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.no-data i {
    color: #999;
    margin-right: 6px;
}

.w180 {
    width: 180px;
}

.mr5 {
    margin-right: 5px;
}