.join-page .profile-image .inner {
    display: none;
}

.join-page .profile-image.uploaded .inner {
    display: block;
}

.join-page .profile-image.uploaded .file-upload-btn {
    display: none;
}

.join-page .profile-image .file-upload-btn {
    width: 250px;
    height: 250px;
    border: 1px dashed blue;
}




