<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/index}">

<main layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="frmLogin" method="post" th:action="@{/member/login}" autocomplete="off" th:object="${requestLogin}">
        <input type="hidden" name="redirectUrl" th:field="*{redirectUrl}">
        <input type="hidden" name="popup" th:field="*{popup}">
        <ul>
            <li>
                <input type="text" name="userId" th:field="*{userId}" th:placeholder="#{아이디}">
                <div class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
            </li>
            <li>
                <input type="password" name="password" th:field="*{password}" th:placeholder="#{비밀번호}">
                <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
            </li>
        </ul>
        <div>
            <!-- target을 통해 페이지 이동 처리 -->
            <a th:href="@{/member/join}" th:text="#{회원가입}" class="btn-link" target="_top"></a>
            <a th:href="@{/member/findid}" th:text="#{아이디_비밀번호_찾기}" class="btn-link" target="_top"></a>
        </div>
        <div>
            <button type="submit" th:text="#{로그인}"></button>
            <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        </div>
    </form>
</main>
</html>
