<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/index}">

<main layout:fragment="content" class="layout-width ai-model-page">
    <h1 th:text="${pageTitle}"></h1>


    <form class="frm-search" name="frmSearch" method="GET" th:action="@{/model}" th:object="${modelSearch}" autocomplete="off">
        <input type="hidden" name="category" th:field="*{category}">
        <input type="hidden" name="subCategory" th:field="*{subCategory}">


        <select name="sopt" th:field="*{sopt}">
            <option value="ALL" th:text="#{통합검색}"></option>
            <option value="NAME" th:text="#{모델명}"></option>
            <option value="DESCRIPTION" th:text="#{모델_설명}"></option>
        </select>
        <input type="text" name="skey" th:field="*{skey}">
        <button type="submit" th:text="#{검색하기}"></button>
    </form>

    <ul class="items">
        <li th:if="${items == null || items.isEmpty()}" class="no-data" th:text="#{조회된_모델이_없습니다}"></li>
        <li th:unless="${items == null || items.isEmpty()}" th:each="item : ${items}" th:object="${item}" class="item modal-open" th:data-url="@{/chat?popup=true(model=*{chatbotModel})}" data-width="600" data-height="650">
            <div class="photo" th:if="*{mainImage != null}" th:utext="*{@utils.printThumb(mainImage.seq, 150, 150)}"></div>
            <div class="content">
                <div class="model-name" th:text="*{name}"></div>
                <div class="description" th:if="*{description != null}" th:utext="*{@utils.nl2br(description)}"></div>
            </div>
        </li>
    </ul>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</main>
</html>