<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
</section>
<form name="ListSearch" method="get" th:action="search">
    <table>
        <tr>
            <th>검색어</th>
            <td>
                <div>
                    <section name="slit" th:field="*{slit}">
                        <option value="ALL">전체</option>
                        <option value="NAME">이름</option>
                        <option value="book">첵</option>
                    </section>
                </div>
            </td>
        </tr>
    </table>
</form>
<form name="list" method="post" action="list">
    <table>
        <tr>
            <th>목록</th>
            <td>
                <div>
                    <input type="text" name="name" placeholder="이름">

                </div>
            </td>
        </tr>
    </table>
</form>"
<form name="createForm" method="post" th:action="create">
    <table>
        <tr>
            <th>장르별</th>
            <td><button type="submit">장르 모댈</button> </td>
        </tr>
        <tr>
            <th>감정별</th>
            <td><button type="submit">감정별</button> </td>
        </tr>
        <tr>
            <th>베스트 모델</th>
            <td><button type="submit">베스트 모델</button> </td>
        </tr>
    </table>
</form>
</html>