<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common" th:object="${requestProduct}">
    <div class="error global" th:each="err: ${field.globalErrors()}" th:text="${err}" ></div>


    <h2>상품 기본 정보</h2>
    <table>
        <tr>
            <th>상품명</th>
            <td>
                <input type="text" name="name" th:field="*{name}">
                <div class="error" th:each="err : ${field.error('name')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>상품 상태</th>
        </tr>
    </table>