<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<th:block layout:fragment="addCommonScript">
    <th:block th:replace="~{common/_editor_script::script}"></th:block>
</th:block>

<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="update" method="post" th:action="@{model/save}" th:object="model">
        <h2>상품 정보</h2>
        <table>
            <tr>
                <th>상품 명</th>
                <td>
                    <input type="text" name="name" th:field="*{name}">
                    <div class="error" th:each="err : ${#field.err('name')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>상품 분류</th>
                <input type="text" name="catetory" th:field="*{category}" th:text="${err}">
                <div  class="error" th:ecch="err : ${#field.errors('category')}" th:text="${err}"></div>
            </tr>
        </table>
        <h2>상픔 이미지</h2>
        <table>
            <tr>
                <th>메인 이미지</th>
                <td>
                    <div class="upoaded" id="main_images">
                        <div th:if="*{mainImages != null }" th:each="item : *{mainImages}" th:object="${model}" th:id="*{file- + seq}">
                            <i class="xi-close remove" th:data-seq="*{seq}"></i>
                            <img th:src="">
                        </div>
                    </div>
                    <button type="submit" th:data-mid="*{mid}" data-location="main" data-image-only="true">이미지 추가</button>
                </td>
            </tr>
        </table>
        <h2>상품 상세 설명</h2>
        <table>
            <tr>
                <th>
                    <textarea id="di" name="di" th:field="*{di}"></textarea>

                    <div class="uploaded_images" id="editor-images">
                        <span th:if="*{editor != null}" th:each="item : *{editorImage} " th:object="${item}">
                            <a th:href="@{/file/download/{seq}}(seq=*{seq})}" th:test="*{fileName}"></a>
                            <i class="xi-upload insert-editor" th-data-file-url="*{fileUrl}"></i>
                            <i class="xi-close remove " th:data-seq="*{seq}"></i>
                        </span>
                    </div>
                </th>
            </tr>
        </table>
        <script th:relace="~{common/_file_font :: }"
    </form>

</section>