main {
    display: flex;
    min-height: 600px;
}

main > aside {
    width: 210px;
    background: #f8f8f8;

}

main > section {
    flex-grow: 1;
}

main > aside .menu {
    display: block;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
    font-size: 1.1rem;
}

main > aside .menu.on {
    background: #1E9EFF;
    color: #fff;
    border-color: #1E9EFF;
}

main > section {
    padding: 50px;
}