* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.dn {
    display: none !important;
}

.flex {
    display: flex;
}