* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dn {
    display: none !important;
}

.flex {
    display: flex;
}

#modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
}

.modal-content {
    display: none;
}

.modal-content.on {
    display: block;
    position: fixed;
    z-index: 101;
    background: #fff;
    padding: 10px 20px 20px;
    border-radius: 15px;
}

.modal-content .modal-title {
    height: 35px;
    line-height: 33px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
}

