* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
}

.dn {
    display: none !important;
}

.flex {
    display: flex;
}

#modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
}

.modal-content {
    display: none;
}

.modal-content.on {
    display: block;
    position: fixed;
    z-index: 101;
    background: #fff;
    padding: 10px 20px 20px;
    border-radius: 15px;
}

.modal-content .modal-title {
    display: block;
    width: 65px;
    line-height: 33px;
    margin: 0 auto;
}


.header-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    text-decoration: none; /* 링크 밑줄 제거 */
    color: inherit;        /* 글자색 상속 */
}

.header-profile .profile-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


