body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

img{
    width: 25px;
}

footer {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px 20px;
  text-align: center;
  font-size: 14px;
}

footer h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  color: #222;
}

.contact-info p {
  margin: 4px 0;
}

.contact-info a {
  color: #0077cc;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.terms {
  margin: 20px 0;
  color: #666;
}

.copyright {
  font-size: 12px;
  color: #aaa;
}

@media (max-width: 600px) {
  .footer {
    font-size: 13px;
    padding: 30px 15px;
  }

  .footer .h2 {
    font-size: 16px;
  }
}