/* ---------- 프론트 스타일 초기화 S ----------  */

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Segoe UI", sans-serif;;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    color: #000;
    background: #fff;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li, dl, dt, dd {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

/* 제목 공통 */
h1.main-title {
    font-size: 1.35rem;
    padding-bottom: 15px;
    border-bottom: 3px solid #1F9EFF;
    margin-bottom: 25px;
    font-weight: 600;
}

.layout-width {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

/* ---------- 프론트 스타일 초기화 E ----------  */



/* ---------- 헤더 영역 S ---------- */

header {
    border-bottom: 1px solid #f0f0f0;
}

.site-header {
  border-bottom: 1px solid #1A8CDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px 8px 30px
}

.logo-box{
    display: flex;
    justify-content: center;
}

.site-logo-a {
    display: inline-block;
}

header .site-logo {
    display: block;
    width: 60px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

header .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header #site-main-search {
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.5%);
    border-radius: 8px;
    height: 40px;
    padding: 10px;
    min-width: 260px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header #site-main-search svg {
    color: #a5a5a5;
    font-size: 20px;
    margin-right: 12px;
}

header #site-main-search input[type='text']{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #141414;
    caret-color: #1E9EFF;
    flex-grow: 1;
    border: 0;
    background: #f5f5f5;
}

header .right a, button:not(.btn) {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.01em;
}
header .right button:not(.btn) {
    background: transparent;
    border: 0;
}

header nav > div {
    display: flex;
    height: 52px;
    padding: 0 18px 0 30px !important;
}
header nav a {
    line-height: 52px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    color: #000;
    border-radius: 15px;
}

header nav a:hover {
    color: #e0e0e0;
}

header nav a.on {
    background-color: #1E9EFF;
    color: #fff;
}

header .user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header .user-actions > * {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

header .user-actions a {
  margin: 10px 0px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

header .user-actions .dot {
    color: #e6e6e6;
    margin: 0 6px;
}

header .user-actions a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  header .site-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  header .user-actions {
    align-self: flex-end;
    justify-content: center;
  }
}

.btn {
  padding: 4px 16px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  font-weight: 600;
}

.btn:hover {
  background-color: #1A8CDD;
  color: #fff;
}

/* ---------- 헤더 영역 E ---------- */



/* ---------- 푸터 영역 S ---------- */

.footer-logo{
    width: 25px;
}

footer {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px 20px;
  text-align: center;
  font-size: 14px;
}

footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  color: #222;
}

.contact-info p {
  margin: 4px 0;
}

.contact-info a {
  color: #0077cc;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.terms {
  margin: 20px 0;
  color: #666;
}

.copyright {
  font-size: 12px;
  color: #aaa;
}

.inner{
    padding: 15px 0;
}

@media (max-width: 600px) {
  .footer {
    font-size: 13px;
    padding: 30px 15px;
  }

   .site-header .user-actions .dot {
        margin: 0 7px;
   }
}

/* ---------- 푸터 영역 ---------- E */



/* ---------- 프로필 영역 ---------- S */

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .profile-image {
    overflow: hidden;
    border-radius: 50%; /* 프로필을 원형으로 */
    background-color: #f0f0f0; /* 배경으로 구분 */
}

/* ---------- 프로필 영역 ---------- E */
}

/* ---------- 배너 영역 ---------- S */

.banner-slider .swiper-slide img {
 width: 100%;
 height: 300px;
 object-fit: cover;
}

.banner-slider .swiper-button-next,
.banner-slider .swiper-button-prev {
 color: #fff;
 top: 50%;
 transform: translateY(-50%);
}

/* ---------- 배너 영역 ---------- E */