<<<<<<< HEAD
* {
    box-sizing: border-box;
    outline: none;
    font-family: "Nanum Gothic", sans-serif;
=======
/* ---------- 프론트 스타일 초기화 S ----------  */

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Segoe UI", sans-serif;;
>>>>>>> 5f22199d32fbc4dd800e7eaef471ba98afb445a9
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    color: #000;
<<<<<<< HEAD
=======
    background: #fff;
    align-items: center;
>>>>>>> 5f22199d32fbc4dd800e7eaef471ba98afb445a9
}

a {
    color: #000;
    text-decoration: none;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li, dl, dt, dd {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

<<<<<<< HEAD
/* 헤더 영역 S */
.site-logo {
    height: 50px;
}

/* 헤더 영역 E */

/* 푸터 영역 S */
footer .logo {
    height: 50px;
}
/* 푸터 영역 E */
=======
/* ---------- 프론트 스타일 초기화 E ----------  */



/* ---------- 헤더 영역 S ---------- */

.site-header {
  background-color: #3399ff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 15px;
}

.logo-box{
    display: flex;
    justify-content: center;
}

.site-logo-a {
    display: inline-block;
}

.site-logo {
    display: block;
    width: 60px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
}

.user-actions a {
  margin: 10px 0px;
  font-size: 14px;
  color: #0077cc;
  text-decoration: none;
}

.user-actions a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .site-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .user-actions {
    align-self: flex-end;
  }
}

.btn {
  padding: 8px 16px;
  background-color: white;
  border: 3px solid #0077cc;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn:hover {
  background-color: #f7c855;
  color: black;
}

/* ---------- 헤더 영역 E ---------- */



/* ---------- 푸터 영역 S ---------- */

.footer-logo{
    width: 25px;
}

footer {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px 20px;
  text-align: center;
  font-size: 14px;
}

footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  color: #222;
}

.contact-info p {
  margin: 4px 0;
}

.contact-info a {
  color: #0077cc;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.terms {
  margin: 20px 0;
  color: #666;
}

.copyright {
  font-size: 12px;
  color: #aaa;
}

@media (max-width: 600px) {
  .footer {
    font-size: 13px;
    padding: 30px 15px;
  }

  .footer .h2 {
    font-size: 16px;
  }
}

/* ---------- 푸터 영역 ---------- E */
>>>>>>> 5f22199d32fbc4dd800e7eaef471ba98afb445a9
