<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="common">
    <div>
        <th:block th:if="${isLogin}">
            <th:block th:if="${loggedMember.profileImage != null}" th:utext="${@utils.printThumb(loggedMember.profileImage.seq, 60, 60, 'profile-image')}"></th:block>
            <a th:href="@{/mypage/index}" th:text="${#messages.msg('LOGIN_MSG', loggedMember.userId)}"></a>
            <a th:href="@{/logout}" th:text="#{로그아웃}"></a>
        </th:block>
        <th:block th:unless="${isLogin}">
            <a th:href="@{/member/join}" th:text="#{회원가입}" class="btn"></a>
            <a th:href="@{/member/login}" th:text="#{로그인}" class="btn"></a>
        </th:block>
    </div>
</header>
</html>