<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <div class="site-header layout-width">
        <div class="left logo-box">
            <a th:href="@{/}" class="site-logo-a"><img th:src= "@{/common/images/logo_text.png}" class="site-logo"/></a>
        </div>
        <div class="right">
            <form id="site-main-search" method="get" th:action="@{/board/search}">
                <svg width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="icon"><path fill-rule="evenodd" d="M13.28 8.18a5.1 5.1 0 11-10.2 0 5.1 5.1 0 0110.2 0zm-1.031 5.069a6.5 6.5 0 11.991-.989l4.695 4.695a.7.7 0 11-.99.99l-4.696-4.696z"></path></svg>
                <input type="text" name="skey">
            </form>
            <div class="user-actions">
                <th:block th:if="${isLogin}">
                    <a th:href="@{/mypage}" th:text="#{마이페이지}"></a>
                    <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                        <svg width="3" height="3" viewBox="0 0 3 3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="dot"><circle cx="1.5" cy="1.5" r="1.5"></circle></svg>
                        <a th:href="@{/admin}" th:text="#{사이트_관리}"></a>
                    </th:block>
                    <svg width="3" height="3" viewBox="0 0 3 3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="dot"><circle cx="1.5" cy="1.5" r="1.5"></circle></svg>
                    <a th:href="@{/logout}" th:text="#{로그아웃}"></a>
                    <svg width="3" height="3" viewBox="0 0 3 3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="dot"><circle cx="1.5" cy="1.5" r="1.5"></circle></svg>
                    <th:block th:if="${loggedMember.profileImage != null}" th:utext="${@utils.printThumb(loggedMember.profileImage.seq, 60, 60, 'profile-image')}"></th:block>
                    <a th:href="@{/mypage}" th:text="${#messages.msg('LOGIN_MSG', loggedMember.name, loggedMember.email)}"></a>

                </th:block>

                <th:block th:unless="${isLogin}">
                    <a th:href="@{/member/join?popup=true}" th:text="#{회원가입}" class="btn"></a>
                    <svg width="3" height="3" viewBox="0 0 3 3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="dot"><circle cx="1.5" cy="1.5" r="1.5"></circle></svg>
                    <button type="button" th:text="#{로그인}" class="btn modal-open" data-width="450" data-height="675" data-url="/member/login" th:data-title="#{맹글 놀이터}"></button>
                </th:block>
            </div>
        </div>
    </div>
    <nav>
        <div class="layout-width">
            <a href="#" th:text="#{메뉴1}"></a>
            <a href="#" th:text="#{메뉴2}" class="on"></a>
            <a href="#" th:text="#{메뉴3}"></a>
            <a href="#" th:text="#{메뉴4}"></a>
            <a href="#" th:text="#{메뉴5}"></a>
        </div>
    </nav>
</header>
</html>