<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="common" class="main-menu">
    <th:block th:if="${isLogin}">
        <a th:if="${profile != null}" class="profile-image" th:href="@{/mypage}"
           th:utext="${@utils.printThumb(profile.seq, 210, 210)}"></a>
        <th:block th:if="${profile == null}">
            <a th:href="@{/mypage/profile}" th:text="#{프로필_이미지가_없습니다}" class="menu-profile"></a>
        </th:block>
    </th:block>
    <th:block th:unless="${isLogin}">
        <img th:src="@{/common/images/logo.png}" alt="기본 프로필 이미지">
    </th:block>

    <ul class="menus">
        <li>
            <a href="#"
                    class="modal-open"
                    data-width="600"
                    data-height="800"
                    data-url="/chat?model=MODEL1"
                    data-title="챗봇 연습">
            <div class="menu">
                <div class="icon"></div>
                <div class="text" th:text="#{채팅_체험하기}"></div>
            </div>
            </a>
        </li>
        <li>
            <div href="/board/all" class="board-link menu">
                <div class="icon"></div>
                <div class="text" th:text="#{게시판}"></div>
            </div>
            <div class="sub-menus" th:if="${boardMenus != null && !boardMenus.isEmpty()}">
                <a th:each="item : ${boardMenus}" th:object="${item}" class="board-side" th:href="@{/board/list/{bid}(bid=*{bid})}" th:text="*{name}"></a>
            </div>
        </li>
        <li th:classappend="${menuCode != null && menuCode == 'model'} ? on">
                <div class="menu">
                    <div class="icon"></div>
                    <div class="text" th:text="#{모델_카테고리}"></div>
                </div>
            <div class="sub-menus">
                <ul>
                    <li>
                        <a href="/model" class="sub-menu model-all-link" th:text="#{모델_전체보기}"></a>
                    </li>
                    <li th:each="category : ${categories}"
                        th:classappend="${#strings.equals(category, subCode)} ? 'on'">

                        <div class="sub-menu toggle-sub-menu" th:text="${category}"></div>

                        <div class="sub-menu-items">
                            <a th:each="subCategory : ${@commonInterceptor.getSubCategories(category)}"
                               th:text="${subCategory}"
                               th:href="@{/model(category=${category}, subCategory=${subCategory})}">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</aside>


<aside th:fragment="mypage" class="my-menu">
    <div class="profile-image">
        <th:block th:if="${profile != null}">
            <a th:href="@{/mypage}">
                <span th:utext="${@utils.printThumb(profile.seq, 180, 180, 'image')}"></span>
            </a>
        </th:block>
        <th:block th:if="${profile == null}">
            <a th:href="@{/mypage/profile}" th:text="#{프로필_이미지가_없습니다}" class="menu-profile"></a>
        </th:block>
    </div>
    <a th:href="@{/mypage/profile}" th:text="#{개인정보_수정}" class="menu" th:classappend="${mainCode == 'profile'} ? 'on'"></a>
    <a th:href="@{/mypage/board}" th:text="#{내가_작성한_글}" class="menu" th:classappend="${mainCode == 'board'} ? 'on'"></a>
    <a th:href="@{/mypage/resign}" th:text="#{회원탈퇴}" class="menu" th:classappend="${mainCode == 'resign'} ? 'on'"></a>
</aside>
</html>